body{
                background-color: #0A0A0A;
            }
            .invite{
                border-left: 10px solid rgb(255, 0, 0);
                border-top: 3px solid rgb(22, 108, 77);
                border-bottom: 3px solid rgb(22, 108, 77);
                text-indent: 8px;
                background-color:rgb(255,255,0);
                font-family: Source Code Pro;
                font-variant: small-caps;
                font-size: 40px;
            }
            .where{
                font-family: Abel;
                position: absolute;
                top: 55px;
                left: 70px;
                font-variant: small-caps;
                background-color: rgb(255, 23, 86);
                padding: 0px 4px 4px 4px;
            }
            .details-div{
                margin-left: 20px;
                margin-top: 60px;
                border-left: 7px solid rgb(255, 23, 86);
                padding-left: 4px;
                padding-right: 4px;
                background-color: rgb(255, 128, 64);
                width: 400px;
                position: fixed;
            }
            .titles{
                font-size: 25px;
                font-family: cursive;
                font-variant: small-caps;
                background-color: rgb(255, 23, 86);
                padding-left: 5px;
            }
            .list-name{
                font-size: 20px;
                font-family: cursive;
                font-variant: small-caps;
            }
            .location{
                margin-left: 15px;
            }
            .date{
                margin-left: 15px;
                position: absolute;
                left: 210px;
                top: 59px;
            }
            .happenings{
                margin-left: 20px;
                margin-top: 60px;
                border-left: 7px solid rgb(255, 23, 86);
                padding-left: 4px;
                background-color: rgb(255, 128, 64);
                width: 530px;
                position: fixed;
                left: 450px;
                padding-right: 5px;
            }
            .what-it-is{
                font-size: 20px;
                font-family: cursive;
                font-variant: small-caps;
                margin-left: 15px;
            }
            .first-line{
                margin-left: 30px;
            }
            .what-it-is-paragraph{
                margin-left: 30px;
                font-family: calibri;
            }
            .list{
                font-family: calibri;
            }
            .events{
                font-size: 20px;
                font-family: cursive;
                font-variant: small-caps;
                margin-left: 15px;
            }
