body{
                background-color: #caf7e3;
            }
            .invite{
                border-left: 10px solid #00ead3;
                border-top: 3px solid #343f56;
                border-bottom: 3px solid #343f56;
                text-indent: 8px;
                background-color:#fdbaf8;
                font-family: Source Code Pro;
                font-variant: small-caps;
                font-size: 40px;
            }
            .where{
                font-family: Abel;
                position: absolute;
                top: 55px;
                left: 70px;
                font-variant: small-caps;
                background-color: #a8d8ea;
                padding: 0px 4px 4px 4px;
            }

             .where2{
                font-size: 40px;
             }


            .details-div{
                margin-left: 20px;
                margin-top: 60px;
                border-left: 7px solid rgb(255, 23, 86);
                padding-left: 4px;
                padding-right: 4px;
                background-color: #aa96da;
                width: 400px;
                position: fixed;
            }
            .titles{
                font-size: 25px;
                font-family: cursive;
                font-variant: small-caps;
                background-color: rgb(255, 23, 86);
                padding-left: 5px;
            }
            .list-name{
                font-size: 20px;
                font-family: cursive;
                font-variant: small-caps;
            }
            .location{
                margin-left: 15px;
            }
            .date{
                margin-left: 15px;
                position: absolute;
                left: 210px;
                top: 59px;
            }
            .happenings{
                margin-left: 20px;
                margin-top: 60px;
                border-left: 7px solid rgb(255, 23, 86);
                padding-left: 4px;
                background-color:#aa96da;
                width: 530px;
                position: fixed;
                left: 450px;
                padding-right: 5px;
            }
            .what-it-is{
                font-size: 20px;
                font-family: cursive;
                font-variant: small-caps;
                margin-left: 15px;
            }
            .first-line{
                margin-left: 30px;
            }
            .what-it-is-paragraph{
                margin-left: 30px;
                font-family: calibri;
            }
            .list{
                font-family: calibri;
            }
            .events{
                font-size: 20px;
                font-family: cursive;
                font-variant: small-caps;
                margin-left: 15px;
            }

